body{
  background-color: #F5F5F5;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #364F6B;
}


/* ------------------------------ */
/* sample01 */
/* ------------------------------ */
.header01 {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  ↓ 固定にしたい場合は下記を入れる
      position: sticky;
      top: 0;
      left: 0;
  */
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

.header01-item--contact {
  background-color: #2486d1;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}

a{
    text-decoration: none;
    color: #3FC1C9;
}


.timer{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 150px;
}

#left{
    width: 800px;
    height: 600px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
#right{
    width: 300px;
    height: 600px;
    margin: 10px;
    border-left: 3px solid #FC5185;
}
#koukoku{
    width: 160px;
    height: 600px;
    margin: 10px;
}

#main{
    display: flex;
    width: 1350px;
}


/* Start と Timer の行（1行目） */
#start-timer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stop と 正解数 の行（2行目） */
#stop-correct-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 正解数の文字と数字を横並びにする */
.correctSpan {
    font-size: 150%;
    display: flex;
    gap: 10px;
    align-items: center;
}


.mainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: .9em 2em;
    border: none;
    border-bottom: solid 5px #364F6B;
    border-radius: 25px;
    background-color: #3FC1C9;
    color: #F5F5F5;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
}

.mainButton:hover {
    transform: translateY(3px);
    border-bottom-width: 2px;
}





label{
    margin: 20px;
}

.selectMenu {
    position: relative;
}

.selectMenu::before,
.selectMenu::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.selectMenu::before {
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 25px 25px 0;
    background-color: #3fc1c9;
    content: '';
}

.selectMenu::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}

.selectMenu select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #3fc1c9;
    border-radius: 25px;
    color: #364f6b;
    font-size: 1em;
    cursor: pointer;
    background-color: #ffffff;
}

.selectMenu select:focus {
    outline: 1px solid #3fc1c9;
}


.correctSpan{
    font-size: 150%;
}


/*ここからローディングアニメーション*/
.loading-15 {
   position: relative;
   transform-style: preserve-3d;
   animation: animation-loading-15 3s infinite forwards;
   width: 48px;
   height: 48px;
   margin: 20px auto;
}

.loading-15 span {
   position: absolute;
   top: 0;
   left: 0;
   width: 48px;
   height: 48px;
   border: 1px solid #fc5185;
   background-color: #fff;
}

.Loading{
    margin: 0 auto;
}


.loading-15 span:nth-of-type(1) {
    transform: translateZ(24px);
}

.loading-15 span:nth-of-type(2) {
    transform: rotateY(180deg) translateZ(24px);
}

.loading-15 span:nth-of-type(3) {
    transform: rotateY(-90deg) translateZ(24px);
}

.loading-15 span:nth-of-type(4) {
    transform: rotateY(90deg) translateZ(24px);
}

.loading-15 span:nth-of-type(5) {
    transform: rotateX(-90deg) translateZ(24px)
}

.loading-15 span:nth-of-type(6) {
    transform: rotateX(90deg) translateZ(24px);
}

@keyframes animation-loading-15 {
    0% {
        transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        transform: rotateX(310deg) rotateZ(230deg)
    }
    100% {
        transform: rotateX(360deg) rotateZ(360deg)
    }
}

#loading-weapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    z-index: 9999;
}

.fade-out{
    animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


.loading-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-5 span {
    display: inline-block;
    color: #3FC1C9;
    font-weight: 600;
    font-size: 1.5em;
    animation: animation-loading-5 1s infinite;
}

.loading-5 span:nth-of-type(2) {
    animation-delay: .1s;
}

.loading-5 span:nth-of-type(3) {
    animation-delay: .2s;
}

.loading-5 span:nth-of-type(4) {
    animation-delay: .3s;
}

.loading-5 span:nth-of-type(5) {
    animation-delay: .4s;
}

.loading-5 span:nth-of-type(6) {
    animation-delay: .5s;
}

.loading-5 span:nth-of-type(7) {
    animation-delay: .6s;
}

.loading-5 span:nth-of-type(8) {
    animation-delay: .7s;
}

.loading-5 span:nth-of-type(9) {
    animation-delay: .8s;
}

.loading-5 span:nth-of-type(10) {
    animation-delay: .9s;
}

@keyframes animation-loading-5 {
    50% {
        transform: translateY(10px);
    }
}
/*ここまでローディングアニメーション*/


/*ここから問題エリア*/
#questionArea{
    margin: 0 auto;
}
.sentakusi {
    max-width: 400px;
    width: 150px;
    font-size: 20px;
    margin: 0 auto;
    padding: 1em 1.5em;
    box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 3px -2px rgb(0 0 0 / 1%);
    background-image: linear-gradient(transparent calc(100% - 1px), #e6edf3 50%, #e6edf3), linear-gradient(90deg, transparent calc(100% - 1px), #e6edf3 50%, #e6edf3);
    background-size: 15px 15px;
    background-repeat: repeat;
    background-color: #ffffff;
    color: #364f6b;
    border: none;
    margin: 10px;
}

.mathQuestion{
    font-size: 50px;
}

#mondaibun{
    font-size: 20px;
}
/*ここまで問題エリア*/

/*ここからダッシュボード*/
#dashBord{
    display: flex;
}
.Koumoku{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

/*ここまでダッシュボード*/


/*見出し*/
.heading-1 {
    padding: .5em .7em;
    border-left: 5px solid #fb5285;
    color: #364f6b;
}

/*ここから削除ボタン*/
.modal-2__wrap input {
      display: none;
}

.modal-2__open-label,
.modal-2__close-label {
    cursor: pointer;
}

.modal-2__open-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .8em 2em;
    border: none;
    border-radius: 5px;
    background-color: #3fc1c9;
    color: #f5f5f5;
    font-weight: 600;
    font-size: 1em;
}

.modal-2__open-label:hover {
    background-color: #fff;
    color: #3fc1c9;
    outline: 1px solid #3fc1c9;
}

.modal-2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}

.modal-2__open-input:checked + label + input + .modal-2 {
    display: block;
    animation: modal-2-animation .6s;
}

.modal-2__content-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 650px;
    background-color: #fefefe;
    z-index: 2;
    border-radius: 5px;
}

.modal-2__close-label {
    background-color: #777;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    width: 36px;
    height: 36px;
    line-height: 1.6;
    text-align: center;
    display: table-cell;
    position: fixed;
    top: -15px;
    right: -2%;
    z-index: 99999;
    font-size: 1.3em;
}

.modal-2__content {
    max-height: 50vh;
    overflow-y: auto;
    padding: 39px 45px 40px;
}

.modal-2__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: 1;
}

@keyframes modal-2-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 520px) {
    .modal-2__open-label {
        max-width: 90%;
        padding: .94em 2.1em .94em 2.6em;
    }

    .modal-2__close-label {
        top: -17px;
        right: -4%;
    }

    .modal-2__content-wrap {
        width: 90vw;
    }

    .modal-2__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 33px 21px 35px;
        max-width: 100%;
    }
    .modal-2__content__sentence{
        width: 250px;
        margin: 0 auto;
        text-align: center;
        font-size: 20px; 
    }
}

.button-51 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: .9em 2em;
    border: none;
    border-bottom: 2px solid #e6edf3;
    background-color: transparent;
    color: #333;
    font-weight: 600;
    font-size: 1em;
}

.button-51::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center left;
    width: 100%;
    height: 2px;
    background-color: #fc5185;
    content: '';
    transition: transform .3s ease;
}

.button-51:hover::after {
    transform: scaleX(1);
}

/*ここまで削除ボタン*/
