/* ------------------------------ */
/* sample01 */
/* ------------------------------ */
.header01 {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  ↓ 固定にしたい場合は下記を入れる
      position: sticky;
      top: 0;
      left: 0;
  */
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

.header01-item--contact {
  background-color: #2486d1;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}

a{
    text-decoration: none;
}

body{
  background-color: #F5F5F5;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#left-column{
    width: 800px;
    height: 600px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#right-column{
    width: 300px;
    height: 600px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#koukoku{
    width: 160px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-content{
    display: flex;
    width: 1350px;
}
/*横幅1400pxとする
　左カラムは横800px
　右カラムは横250px
　広告は横140px*/


/*見出し*/
.heading-1 {
    padding: .5em .7em;
    border-left: 5px solid #fb5285;
    color: #364f6b;
}

/*リスト*/
.list-9 {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 2px solid #fc5185;
}

.list-9 li {
    padding: .5em;
}

.list-9 li:not(:last-child) {
    border-bottom: 1px dashed #fc5185;
}

.list-9 li::marker {
    color: #fc5185;
    font-size: 1.1em;
}