/* ------------------------------ */
/* sample01 */
/* ------------------------------ */
.header01 {
  padding: 16px 24px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  ↓ 固定にしたい場合は下記を入れる
      position: sticky;
      top: 0;
      left: 0;
  */
}

.header01-logo {
  font-weight: bold;
  font-size: 20px;
}

.header01-list {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}

.header01-item--contact {
  background-color: #2486d1;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}

a{
    text-decoration: none;
    color: #3FC1C9;
}


body{
  background-color: #F5F5F5;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#left-column{
    width: 800px;
    height: 600px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#right-column{
    width: 300px;
    height: 600px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#koukoku{
    width: 160px;
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main-content{
    display: flex;
    width: 1350px;
}
/*横幅1400pxとする
　左カラムは横800px
　右カラムは横250px
　広告は横140px*/


/*見出し*/
.heading-1 {
    padding: .5em .7em;
    border-left: 5px solid #fb5285;
    color: #364f6b;
}

/*リスト*/
.list-9 {
    list-style-type: disc;
    list-style-position: inside;
    padding: 1em;
    border: 2px solid #fc5185;
}

.list-9 li {
    padding: .5em;
}

.list-9 li:not(:last-child) {
    border-bottom: 1px dashed #fc5185;
}

.list-9 li::marker {
    color: #fc5185;
    font-size: 1.1em;
}


/*ここからローディングアニメーション*/
.loading-15 {
   position: relative;
   transform-style: preserve-3d;
   animation: animation-loading-15 3s infinite forwards;
   width: 48px;
   height: 48px;
   margin: 20px auto;
}

.loading-15 span {
   position: absolute;
   top: 0;
   left: 0;
   width: 48px;
   height: 48px;
   border: 1px solid #fc5185;
   background-color: #fff;
}

.Loading{
    margin: 0 auto;
}


.loading-15 span:nth-of-type(1) {
    transform: translateZ(24px);
}

.loading-15 span:nth-of-type(2) {
    transform: rotateY(180deg) translateZ(24px);
}

.loading-15 span:nth-of-type(3) {
    transform: rotateY(-90deg) translateZ(24px);
}

.loading-15 span:nth-of-type(4) {
    transform: rotateY(90deg) translateZ(24px);
}

.loading-15 span:nth-of-type(5) {
    transform: rotateX(-90deg) translateZ(24px)
}

.loading-15 span:nth-of-type(6) {
    transform: rotateX(90deg) translateZ(24px);
}

@keyframes animation-loading-15 {
    0% {
        transform: rotateY(0deg) rotateZ(0deg);
    }
    20% {
        transform: rotateY(90deg) rotateZ(0deg);
    }
    40% {
        transform: rotateX(45deg) rotateZ(45deg);
    }
    60% {
        transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    }
    80% {
        transform: rotateX(310deg) rotateZ(230deg)
    }
    100% {
        transform: rotateX(360deg) rotateZ(360deg)
    }
}

#loading-weapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    z-index: 9999;
}

.fade-out{
    animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


.loading-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-5 span {
    display: inline-block;
    color: #3FC1C9;
    font-weight: 600;
    font-size: 1.5em;
    animation: animation-loading-5 1s infinite;
}

.loading-5 span:nth-of-type(2) {
    animation-delay: .1s;
}

.loading-5 span:nth-of-type(3) {
    animation-delay: .2s;
}

.loading-5 span:nth-of-type(4) {
    animation-delay: .3s;
}

.loading-5 span:nth-of-type(5) {
    animation-delay: .4s;
}

.loading-5 span:nth-of-type(6) {
    animation-delay: .5s;
}

.loading-5 span:nth-of-type(7) {
    animation-delay: .6s;
}

.loading-5 span:nth-of-type(8) {
    animation-delay: .7s;
}

.loading-5 span:nth-of-type(9) {
    animation-delay: .8s;
}

.loading-5 span:nth-of-type(10) {
    animation-delay: .9s;
}

@keyframes animation-loading-5 {
    50% {
        transform: translateY(10px);
    }
}
